[2016-08-31 14:41] jerrinot opened #2 "Explore Protostuff Integration"
see https://gitter.im/hazelcast/hazelcast?at=57c6ebb16cea5d25179b3dfe

[2016-08-31 14:53] jerrinot commented on #2
https://github.com/protostuff/protostuff-examples/blob/master/runtime-schema-usage/src/test/java/io/protostuff/examples/RuntimeSchemaUsage.java

[2016-09-03 15:33] thekalinga opened #3 "Exception while deserializing List<String>"
I am getting this exception while deserializing List<MyEnum> element from cache

[code]

The class is of the format

[code]

I am having global serialisation with `overrideJavaSerialization=true`

[code]

versions
--
hazelcast 3.7
subzero-core 0.3

[2016-09-03 18:42] jerrinot commented on #3
Hi @thekalinga,

thanks for reporting, I'll have a look!

[2016-09-03 20:06] jerrinot commented on #3
@thekalinga

do you have a reproducer? it appears to work fine for me. NPE in ArrayList is a strong indication of a concurrency problem.

[2016-09-03 20:27] thekalinga commented on #3
After I have locally updated `KryoStrategy<T>` to the following, I longer receive this exception

[code]

i.e attempting to use `noargs constructor` followed by `StdInstantiatorStrategy`. Not sure why `StdInstantiatorStrategy` as default is causing the issue in my app.

The docs also talks about this [Kryo object creation](https://github.com/EsotericSoftware/kryo#object-creation)

[2016-09-03 20:35] thekalinga commented on #3
Additional info

http://stackoverflow.com/a/23962797

[2016-09-03 21:35] #3 closed

[2016-09-03 21:40] jerrinot commented on #3
@thekalinga: excellent, many thanks for the report and analysis!
I just released version 0.4 with the fix. It should be in Maven central in a few minutes.

[2016-09-04 09:10] thekalinga commented on #3
Thanks

[2016-09-09 13:53] jerrinot opened #4 "Global serializer does not respect classloader configured in Hazelcast"

[2016-09-09 15:53] jerrinot commented on #4
closed in 92e6116a3eb63a6462177b000d4f71821e8897a3

[2016-09-09 15:53] #4 closed

[2016-09-10 15:21] jerrinot opened #5 "Explore Avro integration"

[2016-09-28 14:14] wneild opened #6 "Add support for registering custom serializers"
Unfortunately Kryo does not include support out-the-box for a lot of native JDK types and therefore it is necessary to register custom serializers to handle them. It should be possible to register these custom serializers through subzero. Currently the only workaround is to set up an adjacent, independently configured Kryo serializer instance and register it to hazelcast, per type, as a custom ser

[2016-09-28 14:47] jerrinot commented on #6
@wneild: thanks for you suggestion!
Do you have an idea how to specify configuration? it's easy with programmatic configuration, but there is no way to pass arguments in declarative configuration.

[2016-09-28 15:27] wneild commented on #6
@jerrinot I hadn't thought about that! One option might be to introduce the ability to define your own typed Serializer implementation that takes a Kryo serializer which internally uses a new strategy which registers the serializer to Kyro on instantiation.

What are your thoughts?

[2016-09-29 11:11] jerrinot commented on #6
@wneild: I pushed a first prototype into master.

It introduces a few options how to configure custom Kryo serializers.
The simplest one is to have a file named `subzero-serializers.properties` on your classpath. It expects following format:
[code]
It's simple to use, but each serializer has to have a non-arg constructor.

The other option is to extend `Serializer` and then you can provide own [re

[2016-10-02 17:18] jerrinot commented on #6
@wneild: did you have a chance to look at the prototype?

[2016-10-02 19:49] thekalinga commented on #6
@jerrinot
Why `Serializer<MyObject>` is registering `OtherClass`?

[2016-10-02 20:04] jerrinot commented on #6
@wneild: yeah, it shouldn't be in the example.

The idea is to allow SubZero `Serializer` to be subclassable even for usage as a global serializer - and in this case you might want to register multiple Kryo user Serializers.

In most cases it shouldn't be needed, just the property file should be enough.

[2016-10-02 20:05] jerrinot commented on #6
so the example should look like this:
[code]

[2016-10-03 22:07] wneild commented on #6
@jerrinot looks good: the properties file is a great fit. My only concern is the design to override the userSerializers method to add custom serialization for a type as the user should be restricted to only being allowed to register a single custom serializer for a type. Unless there is a case you would want to register multiple Kyro serializers for a single type?

I've made some changes based on

[2016-10-06 07:33] jerrinot commented on #6
fixed in the current master.

[2016-10-06 07:33] #6 closed

[2016-10-27 10:51] tamerh opened #8 "problem when serializing object"
Hello,

i am getting following exception while desalinizing my java object which is working with default java serialization. Problem is happening when i get my object from client putting the object seems ok.
it can be related with kryo  but maybe you have an idea.Thanks in advance

`at info.jerrinot.subzero.relocated.com.esotericsoftware.kryo.serializers.ObjectField.read(ObjectField.java:144) ~[su

[2016-10-27 10:55] jerrinot commented on #8
@tamerh: thanks for this report. it indeed looks like an issue in Kryo. Can you share the object you are trying to serialize?

[2016-10-27 10:56] jerrinot commented on #8
are you using guava collections?

[2016-10-27 11:07] tamerh commented on #8
thanks for the quick repyl @jerrinot

my object is like following. I am casting different object to the cachedObject and i suspect kryo does not like this. is it possible?

and no i am not using guava libiraries

`public class CacheObject implements Serializable {

	private static final long serialVersionUID = 3575122621103004034L;
	String domainId;
	String                    refDomainId;
	Object

[2016-10-27 11:10] jerrinot commented on #8
maybe. I am not sure, unfortunately I don't know Kryo internals good enough to be able to tell.
Is the failure specific to any particular type used as `cachedObject` ?

[2016-10-27 12:17] tamerh commented on #8
from the limited logs the suspicous part is a unmodifiable List. i am creating a unmodifiable string list via

[2016-10-27 12:19] tamerh commented on #8
from the limited logs the suspicous part is a unmodifiable List. i am creating a unmodifiable string list via

Collections.unmodifiableList()

and then assign it to the List<String>

do you think this should be declared or  serialized in special way?

[2016-10-27 12:25] jerrinot commented on #8
yeah, apparently `unmodifiableList` requires a special Kryo serializer. See this: https://github.com/magro/kryo-serializers

`SubZero` has support for [custom Kryo serializers](https://github.com/jerrinot/subzero/issues/6) in the master branch, but it has not been released yet. Could you please try it? If that works for you then I could release a new version.

[2016-10-27 12:30] tamerh commented on #8
Great! i am going to try the master. is this need any extra configuration?

[2016-10-27 12:40] jerrinot commented on #8
in the simplest case you only need to create `subzero-serializers.properties` file with this format:
[code]

However in this case it appears to be little more complicated as the unmodifieable class are not public - they are always constructed via a factory method (`Collections.unmodifiableList`) so this is not usable.

I guess you will need to create own serialization subclass and do a programmati

[2016-10-27 12:48] jerrinot commented on #8
ok, I have an idea how to make it simpler.

It should be a simple as including the serializer class inside the `subzero-serializers.properties` So something like this:
[code]
Note there is no `=` sign.

The SubZero can figure out this is a serializer which does require special registration as documented at `https://github.com/magro/kryo-serializers` and call the registration method via reflection.

[2016-10-27 13:00] tamerh commented on #8
sounds great @jerrinot . Just how can set the `subzero-serializers.properties `in my project? is there a enviroment variable for the file location?

[2016-10-27 13:04] jerrinot commented on #8
the file has to be on your classpath. that's the only strategy as of now. I might add another strategies, perhaps an external file could be useful in some cases.

You can use the `subzero.custom.serializers.config.filename` system property to use a different filename. (but it still has to be on your classpath)

[2016-10-27 13:51] jerrinot commented on #8
@tamerh: I just [pushed](https://github.com/jerrinot/subzero/commit/4f5f81b368aaf119bd9a889833165eb44d4f727a) a change into the master branch. It should be as simple as having `subzero-serializers.properties` on your classpath. This file has to have this line:
[code]
Obviously the kryo-serializers have to be on your classpath. You can use these Maven coordinates:
[code]

I noticed a bug in the `Un

[2016-10-27 15:34] tamerh commented on #8
although i have updated the master and clean mvn repo and configure `subzero-serializers.properties`
i am still getting the same error it seems new serialiazer is may not activated.i will make debug and make sure that i got your last commit and let you know. thanks @jerrinot

[2016-10-27 16:09] jerrinot commented on #8
@tamerh: I pushed another update.
The issue with `Arrays.asList()` is not a bug in Kryo - it requires another serializer to be registered. It's not possible with the property file.

[2016-10-27 16:10] jerrinot commented on #8
if you are going to debug it then this is a good starting point: https://github.com/jerrinot/subzero/blob/3d844c3f07216834d69f640d1eb7e07c62694524/subzero-core/src/main/java/info/jerrinot/subzero/internal/PropertyUserSerializer.java#L53

[2016-10-31 15:45] tamerh commented on #8
Hi @jerrinot  today i have tried this again with proper setting and i got following exception any idea for the reason? Thanks
`Caused by: java.lang.reflect.InvocationTargetException: null
        at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method) ~[na:1.8.0_65]
        at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62) ~[na:1.8.0_6

[2016-10-31 15:54] jerrinot commented on #8
@tamerh: can you check your are using the latest revision? this appears to be from an older version.

[2016-11-04 20:58] mukul4u2005 opened #10 "How to use Subzeo serialization if we request from hazelcast client."
Hi

I configured the serialization on server side by using subzero as

SubZero.useAsGlobalSerializer(hzConfig);

and my pojo class is not implementing the 'Serializable' interface, I think as per above statement it is not necessary to implement serialization as it is overriding internally.

If I run with the same configuration then it is failing.

Or should I implement Serializable. Please suggest

[2016-11-04 21:00] jerrinot commented on #10
@mukul4u2005: what version of SubZero do you use? The latest stable version support client configuration as well: `SubZero.useAsGlobalSerializer(clientConfig);` should work.

[2016-11-04 21:02] mukul4u2005 commented on #10
I am using subzero-all-0.6

[2016-11-04 21:03] jerrinot commented on #10
it not neccessary to implement the `serializable` interface. Did you configure SubZero on both client and server sides? what error you are getting?

[2016-11-04 21:08] mukul4u2005 commented on #10
Yes it was not configured on client side it seems like it is working now. Thanks for your quick response

[2016-11-04 21:08] jerrinot commented on #10
that's great to hear! Happy Hazelcasting!

[2016-11-04 21:08] #10 closed

[2016-11-11 14:15] brunoml commented on #8
Is there any release date for 0.7 version with this `subzero-serializers.properties` function. I have the same problem and could be fixed using my serializers.

[2016-11-11 14:17] jerrinot commented on #8
@brunoml: I can do that this weekend. Can you please try the latest SNAPSHOT version and confirm it's working for you?

[2016-11-11 14:18] brunoml commented on #8
I'll try the the latest SNAPSHOT version today and put the result here.

[2016-11-11 21:30] brunoml commented on #8
@jerrinot I tried the master and `subzero-serializers.properties` worked for me but in my environment I already use Kryo and I'd like to pass all my configuration to Subzero (`kryo.setDefaultSerializer(...)` and `kryo.setInstantiatorStrategy(...)`) and the only way to do this is if accessing directly Kryo. I forked a version and made a [push](https://github.com/brunoml/subzero/commit/974ad05e9dcba

[2016-11-14 18:44] jerrinot commented on #8
I just released SubZero v0.7.
Many thanks to everyone for contributions!

[2016-11-14 18:44] #8 closed

[2016-11-14 18:45] mukul4u2005 opened #12 "Getting exception please suggest"
com.hazelcast.nio.serialization.HazelcastSerializationException: info.jerrinot.subzero.relocated.com.esotericsoftware.kryo.KryoException: Buffer underflow

[2016-11-14 19:11] jerrinot commented on #12
@mukul4u2005: can you describe your setup a bit? do you have a reproducer?

[2016-11-14 19:39] mukul4u2005 commented on #12
I am using subzero-all-0.6 jar , It is working fine on my local machine but when I am deploying on production the deserialization is not working , The serialization is not giving any issue but when I am doing get operation on Map in hazelcast it is throwing this exception .

[2016-11-14 19:42] jerrinot commented on #12
do you have subzero registered on all members and clients?

[2016-11-14 19:45] mukul4u2005 commented on #12
I am deploying hazelcast as embeded of war file and doing programmatic configuration as:

	SubZero.useForClasses(config, ActionLogDetails.class, ActionLogResponse.class, ServerDetails.class);

So there are two tomcat instance and making cluster there. Some time i got same exception like during migration and not I am getting this exception when I am doing get operation on Map.

[2016-11-14 19:46] jerrinot commented on #12
can you post a full stacktrace?

[2016-11-14 19:48] mukul4u2005 commented on #12
com.hazelcast.nio.serialization.HazelcastSerializationException: info.jerrinot.subzero.relocated.com.esotericsoftware.kryo.KryoException: Buffer underflow.
Serialization trace:
envid (com.db.gto.dap.model.AllocationInstance)
allocationInstanceList (com.db.gto.dap.model.AllocationDetails)
	at com.hazelcast.internal.serialization.impl.SerializationUtil.handleException(SerializationUtil.java:61)
	at

[2016-11-14 19:57] jerrinot commented on #12
any chance you could share your domain classes? you can obfustate them, but it's hard to tell anything from the log.

[2016-11-14 20:04] mukul4u2005 commented on #12
public class AllocationDetails {

	private List<AllocationInstance> allocationInstanceList;
	private String atype;
	private String aid;
	private String dbscp;
	private String name;
	private String dbcrit;

getter-setter

and

public class AllocationInstance {

	private String jstar;
	private String regions;
	private String jv;
	private String tst;
	private String sect;
	private String nid;
	privat

[2016-11-14 20:10] jerrinot commented on #12
can you try to create a reproducer? if there is a serialization issue then it should be possible to create a local reproducer - just start multiple Hazelcast instances in a single JVM.

[2016-11-14 20:13] mukul4u2005 commented on #12
hmmm I will try to create but I found on kryo website support some people facing similar exception because they did not have output.flush(); after writeObject method.

@Override
	public void write(ObjectDataOutput out, Test object) throws IOException {
			Output output = new Output((OutputStream) out);
	        getKryo().writeObject(output, object);
	        output.flush();

	}

Is that can be rea

[2016-11-14 20:16] jerrinot commented on #12
SubZero calls the flush, see https://github.com/jerrinot/subzero/blob/5f80142d77e4ba1759f71c9fe0b5fde7623ada8b/subzero-core/src/main/java/info/jerrinot/subzero/internal/strategy/KryoStrategy.java#L70

[2016-11-15 14:57] mukul4u2005 commented on #12
Ok I am trying to reproduce but for your information there are some exception in log files showing during replication as:

An exception occurred while executing migration operation com.hazelcast.map.impl.operation.MapReplicationOperation{serviceName='hz:impl:mapService', identityHash=270795521, partitionId=0, replicaIndex=0, callId=0, invocationTime=-1 (1970-01-01 00:59:59.999), waitTimeout=-1, ca

[2016-11-29 16:33] jerrinot commented on #12
@mukul4u2005: hi, do you have any uppdate/reproducer?

[2016-11-30 14:53] mukul4u2005 commented on #12
@jerrinot: Hi, That I tried to reproduce on my local it is working fine but it is failing in INT environment with same implementation. SO I am not sure what is happening.

[2016-12-02 01:20] gAmUssA commented on #5
working on snippet for `hazelcast-code-samples` project

[2016-12-02 03:06] gAmUssA commented on #5
here you go

https://github.com/hazelcast/hazelcast-code-samples/pull/137

https://github.com/gAmUssA/webinar-serialization/tree/master/src/main/java/com/hazelcast/training/serialization/avro

[2016-12-02 03:11] gAmUssA commented on #5
in this very naïve benchmark, Avro payload is smaller than Kryo, but read/write perf is slower.
Maybe, I'm doing something wrong :)

[2016-12-14 16:06] wneild opened #13 "Using the delegating form of UserSerilizationBuilder is not practical due to Kryo dependency being shaded"
Trying to directly configure custom serializers from an external library with Kryo through a KryoConfigurer isn't possible because the Kryo dependency is shaded to info.jerrinot.subzero.relocated...

This makes it impossible to use custom serializers that register multiple special types internally, like so:

[code]

where `registerSerializers` expects the standard Kryo package com.esotericsoftware

[2016-12-14 16:46] jerrinot commented on #13
Good catch! There is already a version where Kryo is not shaded, perhaps this case should be documented better?

[2016-12-14 16:48] jerrinot commented on #13
Alternatively there could be subzero-extra with the extra serializers. WDYT?

[2016-12-14 17:58] wneild commented on #13
Ah, of course, that makes sense. I suppose it could be useful to add a caveat that Kryo is shaded but maybe the real problem is that I'm just not thorough enough :smile:.

Personally, I'm satisfied with just subzero-core and importing the serializer library myself. I don't think the benefits of having subzero-extra will be worth the cost of having to keep the dependency up to date with just the kr

[2017-03-14 19:48] mukul4u2005 opened #14 "Subzero not serializing and compressing the Byte array object"
I am not able to see the byte array object compressed by kryo it is having same size as normal serialization .

public class ImagePojo {

	public String fileName;

	public byte[] image;

	public String getFileName() {
		return fileName;
	}

	public void setFileName(String fileName) {
		this.fileName = fileName;
	}

	public byte[] getImage() {
		return image;
	}

	public void setImage(byte[] image)

[2017-03-14 19:56] jerrinot commented on #14
this sounds like a nice improvement, thanks!
Hazelcast does use compression for Java serialization only -> SubZero will have to do it on its own, but it should be simple enough.

[2017-05-15 20:32] mukul4u2005 opened #15 "Subzero for Hazelcast Jet"
I tried to configure Hazelcast Jet with Subzero, May be I am doing some wrong:

 JetConfig cfg = new JetConfig();
	        cfg.setInstanceConfig(new InstanceConfig().setCooperativeThreadCount(
	                Math.max(1, getRuntime().availableProcessors() / 2)));
	        cfg.getHazelcastConfig().setManagementCenterConfig(new ManagementCenterConfig("http://localhost:8080/mancenter", 3).setEnabled

[2017-08-11 06:08] binurajagopal1212 opened #18 "Issue with serializing Joda date"
Hello,
 I am facing an issue with Joda date time when using subzero-all.jar. Version that is being used is 0.7
As mentioned in subzero ReadMe,  i have used
SubZero.useAsGlobalSerializer(config);
HazelcastClient.newHazelcastClient(config);
config is an instance of Hazelcast ClientConfig class.
Since we are using Joda LocalDate and DateTime in application, we need to have that also serialized.
For t

[2017-08-11 07:13] jerrinot commented on #18
Hi,

You can try to use the - subzero-core instead of subzero-all

[2017-08-11 07:54] binurajagopal1212 commented on #18
@jerrinot , thank you for that. Using subzero-core helped in getting past this exception.
Tried setting subzero.buffer.size.kb to different values. But no luck.
I have set this in a properties file and passing it to JBoss VM using -D mechanism. Hope this is right
2017-08-11 13:22:10,804 INFO  [stdout] (default task-1) 					8934837073 - Unexpected exception caught on REST api! User/client message i

[2017-08-11 09:26] jerrinot commented on #18
do you have a reproducer? is this error specific to REST interface? is it working fine with Java client?

[2017-08-11 10:04] binurajagopal1212 commented on #18
Exception seems to be getting thrown immediately after findOne() is called. We are using Spring Data Repository to data access.
One other thing I want to add is that application works fine with and without cache. Members of Hazelcast technical team suggested us to use Kyro serialization and Subzero libs since Java serialization is known to be slow.
Unfortunately I am unable to come up with a sampl

[2017-08-11 10:27] binurajagopal1212 commented on #18
@jerrinot Hello, just want to inform you one more thing.
We are using both Spring cache abstraction and Hibernate L2 caching in our application. For both these, we are using Hazelcast as the provider.
For Spring cache, methods like findOne and findBySomeFields etc are annotated with Spring @Cacheable annotation.
For HL2 caching, entities and collections (if required) are annotation with hibernate

[2017-08-11 11:15] binurajagopal1212 commented on #18
Hi @jerrinot , please close this issue.
While trying to create a sample app, I had messed up quite a few things.
I had uncommented Hibernate @Cache from my domain class. At the same time Spring Data JPA findOne had Spring @Cacheable annotation. Looks like repository.findOne() was all going mad with both these annotations. Now everything works fine.
Thanks a lot for all your response and please acc

[2017-08-11 11:23] binurajagopal1212 commented on #18
Hi @jerrinot , one more question.
Looks like subzero and cryo should  be used only when caching is enabled. We have a switch using which can be enable/disabled.
In most developer laptops caching needs to be switched off.
Would you suggest adding Subzero.SubZero.useAsGlobalSerializer(config); only if caching is enabled?
Thanks,
Binu

[2017-08-11 11:23] #18 closed

[2017-08-11 14:34] jerrinot commented on #18
I don't know your design, but I assume when you have caching disabled then `SubZero.useAsGlobalSerializer(config);` has no effect on your application.

[2017-09-18 15:15] vlasenkoandrey opened #19 "Option to use FQCN serialization"
Kryo has a useful option to serialize objects together with its FQCN (fully qualified class name) so you don't need to register all classes you want to serialize. It could be configured using [Kryo.setRegistrationRequired(false)](https://github.com/EsotericSoftware/kryo/blob/626294c66760d16c98dba31de55c5c6a52ad9557/src/com/esotericsoftware/kryo/Kryo.java#L1044)
Is there a way to configure this in

[2017-10-11 04:47] gAmUssA commented on #5
@jerrinot does it still make sense to provide avro integration? I'm thinking about integration with https://github.com/confluentinc/schema-registry <- avro schema registry

[2017-10-11 04:49] gAmUssA commented on #13
+1 for `subzero-extra` or `subzero-contrib` for extra serializer (not only for Kryo)

[2017-11-19 09:48] binurajagopal1212 opened #20 "Serialization issue with java.util.Date"
Hello,
  I am using subzero library in my application.I have created a file called `subzero-serializers.properties` and have added below 3 lines. This works fine
[code]

But when I add serializer for  java.util.Date in this file, I am getting exceptions like below. Tried two different ways.

1. DateSerializer
2.java,util.Date=de.javakaffee.kryoserializers.
. With this I am getting
[code]

Can you

[2017-12-02 06:01] binurajagopal1212 commented on #20
Is there any help I can get with the above issue w.r.t java.util.Date? Am I doing any incorrect configuration?

[2018-02-04 05:41] chaschev opened #21 "Compatibility with Kotlin"
Tight coupling with shadow implementation of Kryo...

... makes impossible extending Serializers, as that would require provide two versions: one for the shadow implementation and the other for the real kryo used in app

Which at this point makes this lib unusable with Kotlin which requires some serializers coverage

[2018-04-23 16:02] zoza commented on #19
@vlasenkoandrey
Hi Andrey, did you find the way to configure SubZero with CompatibleFieldSerializer?

[2018-07-19 10:37] ankurdhingra opened #22 "Kryo serialization in Hazelcast Client"
I am trying to implement kryo serialization for Hazelcast client as below:
[code]
But I am getting below exception about DataSerializableFactory already registered.

I am using springboot 1.4.7 with hazelcast version 3.7.8 and subzero version 0.7

appriciate any help.

[2018-07-23 11:08] ankurdhingra commented on #22
It worked using subzero-all jar instead of subzero-core jar.

[2018-07-23 11:08] #22 closed

[2018-09-13 11:47] jaglans opened #23 "HazelcastSerializationException: There is no suitable de-serializer for type 6000"
Using a simple consumer class which contains String and Long fields.
One JVM is putting data in hazelcast and other JVM is reading data.

While reading object from hazelcast by second JVM, getting below error:

 Caused by: com.hazelcast.nio.serialization.HazelcastSerializationException: There is no suitable de-serializer for type 6000. This exception is likely to be caused by differences in the se

[2018-09-27 08:45] #23 closed

[2018-10-04 08:48] acieplak opened #24 "Enable creating a Kryo with custom ReferenceResolver implementation"
Hi,

It's rather an enhancement request, but in `KryoStrategy#newKryoInstance()` we create a Kryo with default `MapReferenceResolver`. I have found out that in some cases this implementation is a lot more slowly than others, e.g. `ListReferenceResolver`. The difference sometimes is about 10 times, which is a lot.
It would be nice to have some kind of system property, e.g. a `subzero.referenceresol

[2018-11-28 21:16] mukul4u2005 opened #27 "Exception in thread "main" com.hazelcast.config.InvalidConfigurationException: cvc-type.3.1.1: Element 'global-serializer'"
Nov 28, 2018 4:12:14 PM com.hazelcast.client.config.XmlClientConfigLocator
INFO: Loading 'hazelcast-client.xml' from classpath.
Nov 28, 2018 4:12:15 PM com.hazelcast.config.AbstractXmlConfigHelper
WARNING: Name of the hazelcast schema location incorrect using default
Exception in thread "main" com.hazelcast.config.InvalidConfigurationException: cvc-type.3.1.1: Element 'global-serializer' is a simp

[2018-11-28 21:19] mukul4u2005 commented on #27
`<?xml version="1.0" encoding="UTF-8"?>
<hazelcast-client xsi:schemaLocation="http://www.hazelcast.com/schema/client-config hazelcast-client-config-3.6.xsd"
           xmlns="http://www.hazelcast.com/schema/client-config"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <network>
    <cluster-members>
      <address>127.0.0.1:5701</address>
    </cluster-members>
  </network>

[2018-11-28 21:20] mukul4u2005 commented on #27
<hazelcast xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.hazelcast.com/schema/config
                               http://www.hazelcast.com/schema/config/hazelcast-config-3.11.xsd"
           xmlns="http://www.hazelcast.com/schema/config">

    <network>
        <join>
            <multicast enabled="false" />
            <tcp-ip enabled="true">

[2018-11-28 21:20] mukul4u2005 commented on #27
<hazelcast xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.hazelcast.com/schema/config
                               http://www.hazelcast.com/schema/config/hazelcast-config-3.11.xsd"
           xmlns="http://www.hazelcast.com/schema/config">

    <network>
        <join>
            <multicast enabled="false" />
            <tcp-ip enabled="true">

[2018-12-12 13:29] karussell opened #28 "Is asList from Arrays supported?"
Thanks a lot for your nice tool. The integration was really simple. I'm using 0.8 and hazelcast 3.11.

Now I'm getting the following NPE:

[code]

I suspect this is from the ArrayList that I got via `Arrays.asList()` but adding `Arrays.asList().getClass()` to the `useForClasses` list did not help with this issue.

[2018-12-12 13:32] karussell commented on #28
A temporary workaround is to replace the Arrays.asList with:

new ArrayList<>(Arrays.asList("some", "items"));

[2018-12-12 14:45] jerrinot commented on #27
hi @mukul4u2005,

what is your Hazelcast version? I can see you are using `3.6` in your XSD. Your XML references this schema: `<?xml version="1.0" encoding="UTF-8"?> <hazelcast-client xsi:schemaLocation="http://www.hazelcast.com/schema/client-config hazelcast-client-config-3.6.xsd" `

I guess this schema does not have the `override-java-serialization` attribute. Can you try it with a new schema?

[2018-12-12 14:45] jerrinot commented on #24
@acieplak: you are right, thanks for the ping and your contribution!

[2018-12-12 14:45] #24 closed

[2018-12-12 14:47] jerrinot commented on #21
related to https://github.com/jerrinot/subzero/issues/13

[2018-12-12 14:50] jerrinot commented on #28
probably related to https://github.com/EsotericSoftware/kryo/issues/461

[2018-12-12 14:59] jerrinot commented on #28
@karussell:

can you try to add this dependency into your project:
[code]
and create a file `subzero-serializers.properties`  with `ArraysAsListSerializer`. This file should be on a classpath of your project.

[2018-12-12 15:43] jerrinot commented on #21
@chaschev: have you tried to use `subzero-core` artifact?
That does not have the Kryo shaded in.

[2018-12-12 15:44] jerrinot commented on #13
closing as there is the `subzero-core`

[2018-12-12 15:44] #13 closed

[2018-12-12 16:54] karussell commented on #28
Thanks! So this is more a kryo problem?

[2018-12-12 16:57] jerrinot commented on #20
@binurajagopal1212: Hazelcast has an optimized serializer for `j.u.Date` and it's not possible to override it. I reckon Hazelcast internals rely on it. There is nothing Subzero can do about it.

[2018-12-12 16:57] #20 closed

[2018-12-12 17:02] jerrinot commented on #28
yeah, some classes are not supported out-of-the-box by Kryo. You can use the 3rd party serializer as shown above.

[2018-12-13 19:57] PotatoSpud opened #31 "SubZero across different clusters"
Using SubZero across different Hazelcast clusters has problems.  The serialization ids used on one cluster will not be consistent with that of another.  I have got around this issue by creating my own KryoStrategy's that use an id that is generated from the fully qualified classname.
It gets tricky for two reasons though:
1. Templated classes can be a challenge but there is a way.
2. Need to avoid

[2018-12-14 09:43] #28 closed

[2018-12-14 10:22] #21 closed

[2019-01-11 18:42] jerrinot commented on #31
hi, what's your about the strategy to generate unique IDs from classnames?

[2019-01-11 19:31] PotatoSpud commented on #31
This is not perfect as the hashs may not be completely unique.  However, the chances of a clash are very low.
So I added a new version of TypedKryoStrategy and GlobalKryoStrategy as follows:
[code]
[code]
The MurmurHash3_x86_32 algo was lifted from Hazelcast itself but any decent hash would do the work:
[code]

Hope this helps
Aongus

[2019-04-23 07:20] MojoManagement opened #33 "MultipleEntryBackupOperation throws NullPointerException when using SubZero as GlobalSerializer"
Hi,

I am using Hazelcast 3.11.1 with SubZero 3.9 and configured it with SubZero.useAsGlobalSerializer(config);

When using SubZero, I got the log full with these exceptions:

`java.lang.NullPointerException: null
	at com.hazelcast.map.AbstractEntryProcessor$EntryBackupProcessorImpl.processBackup(AbstractEntryProcessor.java:83)
	at com.hazelcast.map.impl.operation.EntryOperator.process(EntryOperat

[2019-05-09 15:35] loudywen opened #34 "Issue with CompatibleFieldSerializer"
Hi,

I have a requirement that require forward and backward compatibility of the domain object, so I added `defaultSerializer=com.esotericsoftware.kryo.serializers.CompatibleFieldSerializer` in the property file to test it out. But I am getting the following error. I am using subzero 0.9 version.

[code]

[2019-05-09 19:56] loudywen commented on #19
@zoza @vlasenkoandrey @jerrinot  I also want to know how to configure CompatibleFieldSerializer

[2019-05-10 15:47] #34 closed

[2019-05-10 15:51] loudywen opened #35 "subzero compression"
Hi,
Currently, I am setting the defaultSerializer= CompatibleFieldSerializer and I noticed that the size of the data inserted to Hazelcast is almost the same as the actual data size.  Is this related to the serializer? Since if I use the default FieldSerializer I am able to see the size of the data reduced more than 70%.

[2019-05-30 06:35] ohadpinch commented on #33
Reproducer at: https://github.com/hazelcast/hazelcast/issues/15018

[2019-06-26 07:24] loudywen commented on #14
@jerrinot  Hi, can you please tell me how to add compression when I change the default serializer to CompatibleFieldSerializer? Please, I really need your help.

[2019-07-04 18:56] pmihalcin opened #37 "Serialization exceptions on 2 Weblogic nodes"
Given I register classes for serialization using `SubZero`

[code]
[code]

and when I deploy application to 2 weblogic nodes which form hazelcast cluster using tcp ip protocol,

I am sometimes getting exceptions

[code]

[code]

[code]

Very weird part of these stacktraces is `java.lang.ClassNotFoundException: et.mihalcin.ApplicationDetail^A^@^A^A\` where first character of class name is missing a

[2019-07-07 11:20] jerrinot commented on #34
Is this working when you use just
`defaultSerializer=CompatibleFieldSerializee` instead of full `defaultSerializer=com.esotericsoftware.kryo.serializers.CompatibleFieldSerializer` ?

[2019-07-07 11:21] jerrinot commented on #35
well, the `CompatibleFieldSerializer` has a space overhead - it has to include more metadata. So increase memory usage is expected.

[2019-07-07 11:21] #35 closed

[2019-07-07 11:41] jerrinot commented on #33
thanks for the report. at first glance it appears it could be related to: https://github.com/EsotericSoftware/kryo/issues/320

[2019-07-10 08:49] jerrinot commented on #33
hi @ohadpinch,

I pushed an experiment into master. Try to build the latest master and add `serializerConfigurers=EnableSyntheticFields` into your `subzero-serializers.properties` file.

[2019-07-10 14:21] jerrinot commented on #33
@MojoManagement: can you try the latest master? thanks!

[2019-07-10 14:22] MojoManagement commented on #33
@jerrinot I will try to check it tomorrow

[2019-07-27 10:45] jerrinot commented on #33
@MojoManagement: did you have a chance to check it?

[2019-07-27 10:49] jerrinot commented on #19
@loudywen, @zoza: just add `defaultSerializer=CompatibleFieldSerializer` into your `subzero-serializers.properties` file.

[2019-11-06 11:14] TomaszGaweda opened #39 "SubZero support for Hazelcast 4.0"
Currently DelegatingClassResolver uses ClassLoaderUtil, which changed it's package in Hazelcast 4.0. Probably we will be forced to use reflection and dynamic loading or some other workaround.

[2019-11-22 13:08] MojoManagement commented on #33
I have not found any problems, but I was not able to reproduce this at all

[2020-02-13 16:37] #39 closed

[2020-03-31 01:49] bmistry13 opened #43 "How to inject fast-serialization : https://github.com/RuedigerMoeller/fast-serialization"
Hi All,

First of all, I am new to Hazel Cast and SubZero Configuration.  I would like to compare configured or inject FST serialization into SubZero.  Then I would like to compare speed of kryo vs FST and use most FAST serialization/deserialization.  Can you please give me a suggestion on how one might one would do this?  Basically, I wanted to plug-in into GlobalKryoStrategy.  If you give me som

[2020-07-14 21:03] jerrinot commented on #43
hi @bmistry13

currently subzero supports Kryo only. The original idea was to support multiple strategies, but later I figured out it would be too confusing and simplicity for end-users is important for me.

I know about the fast-serialization project. Perhaps it would be worth starting a new integration with Hazelcast.

[2020-11-13 15:36] TomaszGaweda opened #44 "Jet 4.3 fails when Kryo enabled"
Consider following test:

[code]

It works fine on Jet 4.2, fails on Jet 4.3. Serializer.class is SubZero's class.
Environment: Windows 10, Java 14.

[2020-11-16 07:54] jerrinot commented on #44
excellent reproducer, thanks! I will have a look today or tomorrow.

[2020-11-16 13:20] jerrinot commented on #44
It's not working for me even in 4.2. The last Jet version where the test is passing is 4.1.1.

[2020-11-16 13:22] jerrinot commented on #44
this is from Jet 4.2:
[code]

It looks a bit differently on 4.3, that's to be expected given [this change](https://github.com/hazelcast/hazelcast-jet/pull/2446). However the root cause is probably the same.

[2020-11-16 13:28] jerrinot commented on #44
this could possibly be related: this looks related: https://github.com/hazelcast/hazelcast-jet/pull/2298

[2020-12-14 11:00] ttimot24 opened #45 "SubZero fails to find class"
Hi!

Most of the modern app servers does not allow reflective access. Do you plan to solve this problem?

[code]

[2021-09-14 13:21] llaros opened #46 "Custom Kryo serializer for unmodificable collections"
Hello,

I've read https://github.com/jerrinot/subzero/issues/8 and therefore placed `subzero-serializers.properties` file with ```
UnmodifiableCollectionsSerializer```
as its content.

Project dependencies

[code]

hazelcast.xml with following element
[code]

But got following exception on hz node startup:

[code]

I've decompiled UnmodifiableCollectionsSerializer and assured that it has
[code]

[2021-09-14 13:36] llaros commented on #46
IMHO the problem lies with the expected Kryo object or more precisely its package `com.esotericsoftware.kryo.Kryo` vs `info.jerrinot.subzero.relocated.com.esotericsoftware.kryo.Kryo`

[2021-09-14 14:29] llaros commented on #46
Problem solved with following dependencies

[code]

[2021-09-15 07:52] llaros commented on #46
I've reopened just because I don't know whether or notshould subzero-all work out-of-the box with kryo-serializers.

[2021-09-29 18:37] De1taE1even opened #47 "Hazelcast compatibility and continuing contribution"
Hello,

Is there a subzero<->hazelcast version compatibility matrix somewhere that I can look at?  I see the latest release of subzero is 0.10, which is pretty old now, so I don't know if it's compatible with newer versions of Hazelcast.  If not, do you know of an alternative?  I can't find any other kryo<->hazelcast projects.

[2021-10-06 10:34] jerrinot commented on #45
hi, it's just a warning coming from Hazelcast, it has nothing to do with Subzero.
You can safely ignore it.

[2021-10-06 10:34] #45 closed

[2021-10-06 10:35] jerrinot commented on #46
hi, thanks for reporting this, your analysis looks correct. I'll check what to do about it.

[2021-10-06 10:37] jerrinot commented on #47
hi, I maintain Subzero in my spare time, there are certainly no guarantees.
That being said I'd like to add support for Hazelcast 5 sooner rather than later and fix some of the issues reported.

When it comes to alternatives: This depends on your requirements. I'd recommend to have a look at the upcoming [Compact serialization](https://docs.hazelcast.com/hazelcast/5.0/serialization/compact-seriali

[2021-10-06 10:39] jerrinot opened #48 "Hazelcast 5 support"
Add Integration tests for Hazelcast 5

[2021-10-06 10:39] jerrinot commented on #47
closing in favour of https://github.com/jerrinot/subzero/issues/48

[2021-10-06 10:39] #47 closed

[2021-10-06 13:02] De1taE1even commented on #47
Thanks for the reply, I do realize this is a personal effort and appreciate the result.  I only asked because I couldn't find anything that showed me what versions of subzero are compatible with what versions of hazelcast, ie is the current 0.10 version compatible with hazelcast 4.2, etc.

[2021-10-12 06:47] jerrinot commented on #46
Some more thoughts: Subzero-All could relocate Kryo dependencies, but keep Kryo itself in its original packages.
Why? Kryo depends on some fairly popular low-level infrastructure libraries, such as Asm or Objenesis. Not relocating them could lead to a bad JAR hell. Kryo itself is less popular and the risk of conflicts is lower. Not relocating it will allow 3rd party serializers to work. Thanks to

[2022-06-06 22:29] rajivsethumadhavan opened #69 "Configuring EnumNameSerializer as the default serializer for Enum types"
The Kryo library bundles with it the `EnumNameSerializer` that can be used as the default serializer for Enum types instead of `DefaultSerializers.EnumSerializer.`

The EnumNameSerializer can be configured as below -
`kryo.addDefaultSerializer(Enum.class, EnumNameSerializer.class);`

The EnumNameSerializer however does not have a public default constructor and i am unable to configure it declarati